<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="modal-content con mt-4 mb-4">
            <div class="modal-header text-white shadow-5">
                <div class="my-3">
                    <a class="text-dark" href="javascript:history.back()"><i type="button" data-mdb-dismiss="modal" style="font-size: 18px;" class="fas fa-arrow-left"></i></a>
                    <img class="ms-2" src="https://espere.in/static/images/newlogo.png" alt="Header Image" style="border-radius: 50%; max-height: 35px; max-width: 50px;">
                    <span class="ms-1 text-dark">ChatBot</span>
                </div>
                <a data-mdb-placement="bottom" data-mdb-toggle="tooltip" title="Reload" class="text-dark" href="{% url 'chat' %}"><i type="button" data-mdb-dismiss="modal" style="font-size: 18px;" class="fas fa-arrows-rotate"></i></a>
            </div>
            <div class="modal-body">
                <div id="scroll" class="card-body my-3">
                    {% if chats %}
                        {% for chat in chats %}
                            <div class="d-flex flex-row justify-content-end mb-3">
                                <div style="background-color: #1b1b1b8e; font-size: smaller; border-radius: 20px 0px 20px 20px;" class="small p-2 me-2 mb-1 text-white ms-auto">{{ chat.text_input }}</div>
                                <img class="rounded-circle mb-1" src="https://espere.in/static/images/profile.webp" alt="avatar 1" style="width: 40px; height: 100%;">
                            </div>
                            <div class="d-flex flex-row justify-content-start mb-3">
                                <img src="https://espere.in/static/images/newlogo.png" alt="avatar 1" style="width:  40px; height: 100%;">
                                <div class="small p-2 ms-2 mb-1 me-auto text-dark" style="background-color: #ffffffb8; font-size: smaller; border-radius: 0px 20px 20px 20px;">{{ chat.gemini_output | safe }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                    <img class="rounded-circle" src="https://espere.in/static/images/profile.webp" alt="avatar 3" style="width: 40px; height: 100%;">
                    <form class="form" onsubmit="askQuestion(event)">
                        <input class="form-control ms-2" type="text" id="userText" name="text" placeholder="Ask your question">
                    </form>                
                    <span id="submitBtn" type="submit" class="ms-3 link-danger btn btn-floating" href=""><i class="fas fa-paper-plane"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        document.querySelector('#submitBtn').addEventListener('click', () => chat_ajax());
    });

    function chat_ajax() {
        let text = document.querySelector('#userText').value;
        let chatCard = document.querySelector('#scroll');
        
        chatCard.innerHTML += `
            <div class="d-flex flex-row justify-content-end mb-3">
                <div style="background-color: #1b1b1b8e; font-size: smaller; border-radius: 20px 0px 20px 20px;" class="small p-2 me-2 mb-1 text-white ms-auto">${text}</div>
                <img class="rounded-circle mb-1" src="https://espere.in/static/images/profile.webp" alt="avatar 1" style="width: 40px; height: 100%;">
            </div>
        `;

        document.querySelector('#userText').value = null;

        $.ajax({
            type: 'POST',
            url: '/ask_question/',
            data: {
                'text': text,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(res) {
                var response = res.data.text;
                chatCard.innerHTML += `
                    <div class="d-flex flex-row justify-content-start mb-3">
                        <img src="https://espere.in/static/images/newlogo.png" alt="avatar 1" style="width:  40px; height: 100%;">
                        <div class="small p-2 ms-2 mb-1 me-auto text-dark" style="background-color: #ffffffb8; font-size: smaller; border-radius: 0px 20px 20px 20px;">${response}</div>
                    </div>
                `;
            },
            error: function() {
                console.log("There was an error!");
            }
        });
    }
</script>

</body>
</html>
